# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\We Can Code IT\wcci\virtual-pet-richard-kidwell\virtual-pet-richard-kidwell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
